.name {
    font-weight: bold;
    font-size: 18px;
}
.value {
    font-size: 15px;
}

.elements {
    margin-block: 20px;
}



.element-organisme{
    font-weight: bold;
    font-size: 16px;
}

.element-date{
    font-size: 16px;
}

@-moz-document url-prefix() {
    .elements li {
        margin-left: 4%;
    }
}