.infos{
    margin: auto;
    width: 90%;
}

@media screen and (min-width: 1024px) {
    .infos{
        margin: 8% 0% 18% 16%;
    }
}

.title-infos{
    color: white ;
    border-bottom: 1px solid #fff ;
}