#header{
    padding-top: 30px;
}

.header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo{
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.header-logo img{
    
    
}

.header-logo span {
    color: #323B4C;
    font-size: 90px;
    font-weight: 500;
    
}


.header-nav-link{
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    color: #323B4C ;
    text-decoration: none;
    margin-left: 60px;
}

.header-nav-link{

}

.link-active{
    text-decoration: underline;
}


@media screen and (max-width: 767px) {
    #header {
            padding-top: 5px;
    }

    .header {
        width: 95%;
    }


    .header-logo {
        gap: 5px;
    }

    /* .header-logo img {
        height: 35px;
    } */

    .header-logo span {
        font-size: 60px;
    }

    .header-nav{
        margin-top: 10px;
        margin-right: 5px;
    }


    .header-nav-link {
        font-size: 12px;
        line-height: 17px;
        margin-left: 15px;
        text-transform: uppercase;
    }
}