#cv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* width: 80%; */
    max-width: 1024px;
    margin: auto;
    height: 100vh;
}

#side {
    border: solid 1px black;
    background-color: #323B4C;
    grid-column: 1;
    color: white;
    padding: 20% 0% 2% 20% ;
}

#content {
    border: solid 1px black;
    grid-column: 2 / 4;

    padding: 8% 5% 5% 5% ;
}

span {
    font-weight: bold;
}

h1 {
    font-size: 60px;
    font-weight: normal;
    color: #323B4C ;
    letter-spacing: 4px;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    color: #323B4C ;
    letter-spacing: 6px;
    margin-top: -1%
}

h3{
    font-size:32px;
    font-weight: bold;
    color: #323B4C ;
    border-bottom: 1px solid #323B4C;
    margin-top: 7%;
    padding: 1% 0;
}

h4{
    font-size: 22px;
    color: #737373;
    font-weight: bold;
}

p {
    font-size: 18px ;
}
